.App {
  position: relative;
}

.go-back-button {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #1677ff;
  color: #fff;
}

.go-back-button:hover {
  cursor: pointer;
}

.see-collection-button {
  position: absolute;
  top: 5%;
  right: 5%;
}
