.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-gap: 1rem;
  margin: 0 auto;
  width: 75%;
}

.image-container {
  position: relative;
}

.add-collection-button {
  position: absolute;
  top: 5%;
  right: 5%;
}
