.collection-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-gap: 1rem;
  margin: 2rem auto;
  width: 75%;
}
