.collection-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.collection-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-gap: 1rem;
  flex-basis: 60%;
}

.price-container {
  flex-basis: 20%;
}
